body{
	font-size: 160%;
	color: white;
	background-image: url('images/background.jpg');
}
nav table{
	margin-right: 0;
	margin-left: auto;
}
nav a{
	padding: 10px;
	text-decoration:none;
	color: white;
}
.actbutton{
	font-size: 70%;
	padding: 10px;
	background-color: white;
	border-radius: 25px;
	color: dark-blue:
}